.venv
contract_analysismodel
legal_bert_finetuned
.git
__pycache__
*.pyc
.env
*.pdf
trainmodel.py
evaluate.py
upload_model.py
testmodel.py
loading_data.py
app.py
test_api.py
conftest.py
screenshots
.cache